<div class="box">
  <div class="columns">
    <!-- comment card nested below -->
  <div class="column is-1"></div>
    <div class="column is-10">
      <div class="field">
        <label class="label">Name</label>
        <p class="control">
          <input class="input" type="text" placeholder="Enter user name" ng-model="vm.comment.author">
        </p>
      </div>
      <div class="field">
        <label class="label">Message</label>
        <p class="control">
          <textarea class="textarea" placeholder="Enter your comment" ng-model="vm.comment.content"></textarea>
        </p>
      </div>
      <div class="block">
        <a class="button is-primary" ng-click="vm.update()">Update</a>
        <a class="button is-danger" ng-click="vm.destroy()">Delete</a>
    </div>
    <div class="column">
    </div>
  </div>
</div>
</div>
